{% extends "base.html" %}

{% block title %}
我的小书屋-注册
{% endblock %}

{% block content %}
<h2>我的小书屋-注册</h2>

<form action="{{ url_for('web.register') }}" method="post">
    <input style="width: 50%" id="nickname" name="nickname"
           type="text"
           placeholder="昵称"
           class="none-input"
           value="{{ form.data['nickname'] | default('',true) }}">
    <input style="width:50%" id="email" name="email" type="text"
           placeholder="邮箱"
           class="none-input"
           value="{{ form.data['email'] | default('',true) }}">
    <input id="password" style="width:50%"
           name="password"
           placeholder="密码"
           class="none-input" type="password">
    <input style="margin-top:15px;" id="btn-submit" type="submit"
           class="btn btn-big btn-block" value="注册">
</form>


{% endblock %}
{% block scripts %}
    {{ super() }}
{% endblock %}
